In [123]:
import pandas as pd

In [124]:
df = pd.read_csv('/train.csv')

In [125]:
df.head()

   id  ... label
0   0  ...     1
1   1  ...     0
2   2  ...     1
3   3  ...     1
4   4  ...     1

[5 rows x 5 columns]

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [127]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [128]:
df['text'][0]

'House Dem Aide: We Didn’t Even See Comey’s Letter Until Jason Chaffetz Tweeted It By Darrell Lucus on October 30, 2016 Subscribe Jason Chaffetz on the stump in American Fork, Utah ( image courtesy Michael Jolley, available under a Creative Commons-BY license) \nWith apologies to Keith Olbermann, there is no doubt who the Worst Person in The World is this week–FBI Director James Comey. But according to a House Democratic aide, it looks like we also know who the second-worst person is as well. It turns out that when Comey sent his now-infamous letter announcing that the FBI was looking into emails that may be related to Hillary Clinton’s email server, the ranking Democrats on the relevant committees didn’t hear about it from Comey. They found out via a tweet from one of the Republican committee chairmen. \nAs we now know, Comey notified the Republican chairmen and Democratic ranking members of the House Intelligence, Judiciary, and Oversight committees that his agency was reviewing emails it had recently discovered in order to see if they contained classified information. Not long after this letter went out, Oversight Committee Chairman Jason Chaffetz set the political world ablaze with this tweet. FBI Dir just informed me, "The FBI has learned of the existence of emails that appear to be pertinent to the investigation." Case reopened \n— Jason Chaffetz (@jasoninthehouse) October 28, 2016 \nOf course, we now know that this was not the case . Comey was actually saying that it was reviewing the emails in light of “an unrelated case”–which we now know to be Anthony Weiner’s sexting with a teenager. But apparently such little things as facts didn’t matter to Chaffetz. The Utah Republican had already vowed to initiate a raft of investigations if Hillary wins–at least two years’ worth, and possibly an entire term’s worth of them. Apparently Chaffetz thought the FBI was already doing his work for him–resulting in a tweet that briefly roiled the nation before cooler heads realized it was a dud. \nBut according to a senior House Democratic aide, misreading that letter may have been the least of Chaffetz’ sins. That aide told Shareblue that his boss and other Democrats didn’t even know about Comey’s letter at the time–and only found out when they checked Twitter. “Democratic Ranking Members on the relevant committees didn’t receive Comey’s letter until after the Republican Chairmen. In fact, the Democratic Ranking Members didn’ receive it until after the Chairman of the Oversight and Government Reform Committee, Jason Chaffetz, tweeted it out and made it public.” \nSo let’s see if we’ve got this right. The FBI director tells Chaffetz and other GOP committee chairmen about a major development in a potentially politically explosive investigation, and neither Chaffetz nor his other colleagues had the courtesy to let their Democratic counterparts know about it. Instead, according to this aide, he made them find out about it on Twitter. \nThere has already been talk on Daily Kos that Comey himself provided advance notice of this letter to Chaffetz and other Republicans, giving them time to turn on the spin machine. That may make for good theater, but there is nothing so far that even suggests this is the case. After all, there is nothing so far that suggests that Comey was anything other than grossly incompetent and tone-deaf. \nWhat it does suggest, however, is that Chaffetz is acting in a way that makes Dan Burton and Darrell Issa look like models of responsibility and bipartisanship. He didn’t even have the decency to notify ranking member Elijah Cummings about something this explosive. If that doesn’t trample on basic standards of fairness, I don’t know what does. \nGranted, it’s not likely that Chaffetz will have to answer for this. He sits in a ridiculously Republican district anchored in Provo and Orem; it has a Cook Partisan Voting Index of R+25, and gave Mitt Romney a punishing 78 percent of the vote in 2012. Moreover, the Republican House leadership has given its full support to Chaffetz’ planned fishing expedition. But that doesn’t mean we can’t turn the hot lights on him. After all, he is a textbook example of what the House has become under Republican control. And he is also the Second Worst Person in the World. About Darrell Lucus \nDarrell is a 30-something graduate of the University of North Carolina who considers himself a journalist of the old school. An attempt to turn him into a member of the religious right in college only succeeded in turning him into the religious right\'s worst nightmare--a charismatic Christian who is an unapologetic liberal. His desire to stand up for those who have been scared into silence only increased when he survived an abusive three-year marriage. You may know him on Daily Kos as Christian Dem in NC . Follow him on Twitter @DarrellLucus or connect with him on Facebook . Click here to buy Darrell a Mello Yello. Connect'

In [129]:
df=df.dropna()

In [130]:
df.reset_index(inplace=True)

In [131]:
df.shape

(18285, 6)

In [132]:
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
wn=WordNetLemmatizer()

In [136]:
import nltk

In [137]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [138]:

# implementing lemmatization and removing stopwords

corpus_lemmatize = []
for i in range(0, len(df)):
    review = re.sub('[^a-zA-Z]', ' ', df['text'][i])
    review = review.lower()
    review = review.split()
    
    review = [wn.lemmatize(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus_lemmatize.append(review)

In [139]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [140]:
tfidf_v=TfidfVectorizer(max_features=5000,ngram_range=(1,3))

X=tfidf_v.fit_transform(corpus_lemmatize).toarray()

In [141]:
y=df['label']

In [142]:
count_df = pd.DataFrame(X, columns=tfidf_v.get_feature_names())

In [143]:
count_df.head()

   aaron  abandon  abandoned  abc  abe  ...  zero  zika  zionist  zone   zu
0    0.0      0.0        0.0  0.0  0.0  ...   0.0   0.0      0.0   0.0  0.0
1    0.0      0.0        0.0  0.0  0.0  ...   0.0   0.0      0.0   0.0  0.0
2    0.0      0.0        0.0  0.0  0.0  ...   0.0   0.0      0.0   0.0  0.0
3    0.0      0.0        0.0  0.0  0.0  ...   0.0   0.0      0.0   0.0  0.0
4    0.0      0.0        0.0  0.0  0.0  ...   0.0   0.0      0.0   0.0  0.0

[5 rows x 5000 columns]

In [144]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(count_df, y, test_size=0.33, random_state=0)

In [145]:

X_train.head()

       aaron  abandon  abandoned  abc  abe  ...  zero  zika  zionist  zone   zu
8321     0.0      0.0        0.0  0.0  0.0  ...   0.0   0.0      0.0   0.0  0.0
15615    0.0      0.0        0.0  0.0  0.0  ...   0.0   0.0      0.0   0.0  0.0
7688     0.0      0.0        0.0  0.0  0.0  ...   0.0   0.0      0.0   0.0  0.0
12330    0.0      0.0        0.0  0.0  0.0  ...   0.0   0.0      0.0   0.0  0.0
345      0.0      0.0        0.0  0.0  0.0  ...   0.0   0.0      0.0   0.0  0.0

[5 rows x 5000 columns]

In [146]:
y_train.head()

8321     1
15615    1
7688     0
12330    1
345      0
Name: label, dtype: int64

In [147]:

from sklearn.naive_bayes import MultinomialNB
classifier=MultinomialNB()

In [148]:
from sklearn import metrics
import numpy as np
import itertools

In [149]:
classifier.fit(X_train, y_train)
pred = classifier.predict(X_test)
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)

accuracy:   0.896

In [150]:
from sklearn.linear_model import LogisticRegression

In [151]:
lr=LogisticRegression()

In [152]:

lr.fit(X_train, y_train)
pred_lr = lr.predict(X_test)

score_lr = metrics.accuracy_score(y_test, pred_lr)
print("accuracy:   %0.3f" % score_lr)

accuracy:   0.944

In [153]:
test=pd.read_csv('/test.csv')

In [154]:
test.head()

      id  ...                                               text
0  20800  ...  PALO ALTO, Calif.  —   After years of scorning...
1  20801  ...  Russian warships ready to strike terrorists ne...
2  20802  ...  Videos #NoDAPL: Native American Leaders Vow to...
3  20803  ...  If at first you don’t succeed, try a different...
4  20804  ...  42 mins ago 1 Views 0 Comments 0 Likes 'For th...

[5 rows x 4 columns]

In [155]:
test.isnull().sum()

id          0
title     122
author    503
text        7
dtype: int64

In [156]:
test.shape

(5200, 4)

In [157]:
test['text'].fillna('nan value present',inplace=True)

In [158]:
test.isnull().sum()

id          0
title     122
author    503
text        0
dtype: int64

In [159]:
# implementing lemmatization and removing stopwords

corpus_lemmatize_test = []
for i in range(0, len(test)):
    review = re.sub('[^a-zA-Z]', ' ', test['text'][i])
    review = review.lower()
    review = review.split()
    
    review = [wn.lemmatize(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus_lemmatize_test.append(review)

In [160]:
X_test_data=tfidf_v.fit_transform(corpus_lemmatize_test).toarray()

In [161]:
count_df_test = pd.DataFrame(X_test_data, columns=tfidf_v.get_feature_names())

In [162]:
count_df_test.head()

   aaron  abandon  abandoned  abc  abe  ...  youtube  zero  zika  zone  zuckerberg
0    0.0      0.0        0.0  0.0  0.0  ...      0.0   0.0   0.0   0.0         0.0
1    0.0      0.0        0.0  0.0  0.0  ...      0.0   0.0   0.0   0.0         0.0
2    0.0      0.0        0.0  0.0  0.0  ...      0.0   0.0   0.0   0.0         0.0
3    0.0      0.0        0.0  0.0  0.0  ...      0.0   0.0   0.0   0.0         0.0
4    0.0      0.0        0.0  0.0  0.0  ...      0.0   0.0   0.0   0.0         0.0

[5 rows x 5000 columns]

In [163]:
pred_test = lr.predict(count_df_test)

In [164]:
pred_test

array([1, 0, 1, ..., 0, 1, 1])

In [165]:
submit_sample=pd.read_csv('/submit.csv')

In [166]:
submit_sample.head()

      id  label
0  20800      0
1  20801      1
2  20802      0
3  20803      1
4  20804      1

In [167]:
submit_sample['label']=pred_test

In [168]:
submit_sample.head()

      id  label
0  20800      1
1  20801      0
2  20802      1
3  20803      1
4  20804      1

In [169]:
submit_sample.tail()

         id  label
5195  25995      0
5196  25996      0
5197  25997      0
5198  25998      1
5199  25999      1

In [170]:
submit_sample.to_csv('/sub_first.csv',index=False)

In [171]:
pred_test_nb = classifier.predict(count_df_test)

In [172]:
submit_sample['label']=pred_test_nb

In [173]:
submit_sample.to_csv('/sub_second.csv',index=False)